{{define "body"}}
<h1>Add Todos</h1>
<form class="w-50" method="POST" action="/add">
    <div class="form-group mb-2">
        <label>Item</label><input name="item" class="form-control" type="text" value="" />
    </div>
    <div class="form-group mb-2">
        <label class="me-3">Completed</label>
        <input name="completed" type="checkbox" value="true" /> <br />
    </div>

    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
{{ end }}
