{{define "body"}}
<h1>Todos</h1>
<table class="table">
    <thead>
        <tr>
            <th class="w-75">Item</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $value := . }}
        <tr>
            <td>{{ $value.item }}</td>
            <td><input type="checkbox" {{ if $value.completed }} checked {{end}} /></td>
        </tr>
        {{
            end
        }}
    </tbody>
</table>
{{ end }}
